# 1. Match and ignore all files (including extensionless binaries)
# *

# Ignore all files at the root level
# /*

# Do not ignore directories


/rust/target/*
.DS_Store
.vscode

binary_search/binary_search
